@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #F5F5F5;
}

@media print {
  body > *:not(.MuiDialog-root) {
    display: none !important;
  }
  .MuiDialog-root {
    position: static !important;
    box-shadow: none !important;
  }
  .MuiBackdrop-root {
    display: none !important;
  }
}
